.heading-link{
        color: #5D5FEF;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        text-decoration: none;
}
.items{
    background-color:cyan;
    border-radius: 8px;
    padding:15px 25px;
}


.categories{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.category{
    padding:5px 10px;
    gap:10px;
    margin-right:10px;
}
.form-group{
    margin-bottom:25px;
}

.card{
    margin-bottom: 20px;
}
#thumbnail-style{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-foter{
    margin-top: 120px;
}
.author-identity{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}


/* blog html page styles */
.blog{
    background-color: aqua;
   margin:50px 70px;
   padding:15px 25px;
   border-radius:10px;
}
.blog-para{
    color:fuchsia;
}